{{- $ThemeVersion := "3.21.0" -}}
<footer class="site-footer">
    <section class="copyright">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{ .Site.Params.writerProfile }}">
                &copy; 
                {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
                    {{ .Site.Params.footer.since }} -
                {{ end }}
                {{ now.Format "2006" }}  {{ .Site.Params.writer }}.
            </a>
            {{- $WorkTitle := printf `<a property="dct:title" rel="cc:attributionURL" href="%s">%s</a>` .Site.BaseURL .Site.Title -}}
            {{- $License := `<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer"><i>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0).</i></a>` -}}
            {{- $LicenseDeed := `<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.en" target="_blank" rel="license noopener noreferrer"><i>Creative Commons</i></a>` -}}

            {{ T "footer.copyright.workTitle" (dict "WorkTitle" $WorkTitle) | safeHTML }}
            {{ $License | safeHTML }}
        </p>
        <p class="info">
            {{ T "footer.copyright.licenseDeedSummary" (dict "License" $License "LicenseDeed" $LicenseDeed) | safeHTML }}      
        </p>
    </section>
    
    <section class="powerby">
        {{ with .Site.Params.footer.customText }}
            {{ . | safeHTML }} <br/>
        {{ end }}

        {{- $Generator := `<b><a href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo</a></b>.` -}}
        {{- $Theme := printf `<b><a href="https://github.com/CaiJimmy/hugo-theme-stack" target="_blank" rel="noopener noreferrer" data-version="%s">Stack</a></b>` $ThemeVersion -}}
        {{- $DesignedBy := `<a href="https://jimmycai.com" target="_blank" rel="noopener noreferrer">Jimmy</a>.` -}}
        {{- $WebAnalyticsPlatform := `<b><a href="https://www.goatcounter.com/" target="_blank" rel="noopener noreferrer">GoatCounter</a></b>.` -}}
        {{- $CommentSystem := `<b><a href="https://cactus.chat/" target="_blank" rel="noopener noreferrer">Cactus Comments</a></b>.` -}}

        {{ T "footer.builtWith" (dict "Generator" $Generator) | safeHTML }} <br/>
        {{ T "footer.designedBy" (dict "Theme" $Theme "DesignedBy" $DesignedBy) | safeHTML }} <br/>
        {{ T "footer.analytics" (dict "WebAnalyticsPlatform" $WebAnalyticsPlatform) | safeHTML }} <br/>

        {{ if isset .Site.Params.comments "enabled" }}
            {{ if .Site.Params.comments.enabled }}
                {{ T "footer.comments" (dict "CommentSystem" $CommentSystem) | safeHTML }}
            {{ end }}
        {{ end }}
    </section>
</footer>
