{{- with .Site.Params.comments.cactus -}}
<script src="{{ $js := resources.Get "js/cactus.js" | minify | fingerprint }}{{ $js.RelPermalink }}"></script>
{{/*- partial "helper/external" (dict "Context" $ "Namespace" "Cactus") -*/}}

<div id="comment-section"></div>

<script>
    initComments({
        node: document.getElementById("comment-section"),
        defaultHomeserverUrl: "{{ .defaultHomeserverUrl | safeJS }}",
        serverName: "{{ .serverName }}",
        siteName: "{{ .siteName }}",
        commentSectionId: "{{ $.File.UniqueID }}"
    });
</script>
{{- end -}}