{{ define "main" }}
    <header>
        <h3 class="section-title">
            {{ if eq .Parent (.GetPage "/") }}
                {{ T "list.section" }}
            {{ else }}
                {{ if eq (.Parent.Title) "Categories" }}
                    {{ partial "helper/icon" "categories" }}{{- T "pageTitle.categorie" -}}
                {{ else if eq (.Parent.Title) "Tags" }}
                    {{ partial "helper/icon" "tag" }}{{- T "pageTitle.tag" -}}
                {{ else }}
                    {{ .Parent.Title }}
                {{ end }}
            {{ end }}
        </h3>

        <div class="section-card">
            <div class="section-details">
                <h3 class="section-count">{{ T "list.page" (len .Pages) }}</h3>
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </header>

    {{- $subsections := .Sections -}}
    {{- $pages := .Pages | complement $subsections -}}
    
    {{- if eq (len $pages) 0 -}}
        {{/* If there are no normal pages, display subsections in list style, with pagination */}}
        {{/* This happens with taxonomies like categories or tags */}}
        {{- $pages = $subsections -}}
        {{- $subsections = slice -}}
    {{- end -}}

    {{- with $subsections -}}
        <aside>
            <h2 class="section-title">{{ T "list.subsection" (len $subsections) }}</h2>
            <div class="subsection-list">
                <div class="article-list--tile">
                    {{ range . }}
                        {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section") }}
                    {{ end }}
                </div>
            </div>
        </aside>
    {{- end -}}
    
    {{/* List only pages that are not a subsection */}}
    {{ $paginator := .Paginate $pages }}
    <section class="article-list--compact">
        {{ range $paginator.Pages }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ if eq (.Parent.Title) "Categories" }}
        {{ partial "sidebar/right.html" (dict "Context" . "Scope" "categories") }}
    {{ else if eq (.Parent.Title) "Tags" }}
        {{ partial "sidebar/right.html" (dict "Context" . "Scope" "tags") }}
    {{ else }}
        {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
    {{ end }}
{{ end }}