:root {
    --cactus-text-color--soft: #5e6c7a;
    --cactus-text-color2--soft: #5e6c7a;
    --cactus-background-color--strong: #ffffff;
    --cactus-border-color: hsl(0, 0%, 85%);
    --cactus-box-shadow-color: rgba(51, 51, 51, 0.3);
    --cactus-button-text-color: inherit;
    --cactus-button-color: #2c3e50;
    --cactus-button-color--strong: #212f3d;
    --cactus-button-color--stronger: #212f3d;
    --cactus-button-text-color2: #ffffff;
    --cactus-login-form-text-color: inherit;
    --cactus-login-form-text-color2: inherit;
    --cactus-border-width: 1.5px;
    --cactus-border-radius: 0.4em;
    --cactus-text-color: inherit;
    --cactus-text-color2: inherit;
    --cactus-body-text-color: #383838;
    --cactus-background-color: transparent;
    --cactus-error-color: red;

    &[data-scheme="dark"] {
        --cactus-text-color--soft: #444444;
        --cactus-text-color2--soft: #c4c4c4;
        --cactus-background-color--strong: #d9d9d9;
        --cactus-border-color: #5f5f5f;
        --cactus-box-shadow-color: rgba(44, 44, 44, 0.3);
        --cactus-button-text-color: inherit;
        --cactus-button-color: #424242;
        --cactus-button-color--strong: #353535;
        --cactus-button-color--stronger: #353535;
        --cactus-button-text-color2: #ffffff;
        --cactus-login-form-text-color: #c4c4c4;
        --cactus-login-form-text-color2: #2b2b2b;
        --cactus-border-radius: 0.4em;
        --cactus-text-color: #ffff;
        --cactus-text-color2: #353535;
        --cactus-body-text-color: #aeaeae;
        --cactus-background-color: transparent;
        --cactus-error-color: red;
    }
}

.cactus-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--cactus-text-color);
    background-color: var(--cactus-background-color)
}

.cactus-error {
    padding: .5em;
    padding-inline-end: 1.5em;
    border: var(--cactus-border-width) solid var(--cactus-error-color);
    border-radius: var(--cactus-border-radius);
    position: relative
}

.cactus-error-close {
    position: absolute;
    right: .2em;
    top: 0;
    color: var(--cactus-button-color);
    background-color: transparent;
    border: none
}

.cactus-error-close:hover:not([disabled]) {
    color: var(--cactus-button-color--strong);
    cursor: pointer
}

.cactus-error-close:active:not([disabled]) {
    color: var(--cactus-button-color--stronger);
    cursor: pointer
}

.cactus-error-close-icon {
    inline-size: 20px;
    block-size: 20px
}

.cactus-error-text {
    color: var(--cactus-error-color);
    font-weight: 700;
    margin: 0
}

.cactus-editor {
    display: flex;
    flex-direction: column;
    gap: .5em
}

.cactus-editor>span {
    display: flex
}

.cactus-editor > span > .cactus-editor-textarea, 
.cactus-editor > .cactus-editor-below > .cactus-editor-name > span > input,
.cactus-editor > .cactus-editor-below > .cactus-editor-buttons > button,
.cactus-view-more > button {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    border: none;
    box-shadow: var(--shadow-l1);
}

.cactus-editor > span > .cactus-editor-textarea, .cactus-editor > .cactus-editor-below > .cactus-editor-name > span > input {
    color: var(--cactus-text-color);
    font: inherit;
}

.cactus-editor-textarea {
    display: flex;
    resize: vertical;
    flex: 1;
    height: 9rem;
    max-height: 30rem;
    min-height: 9rem;
    padding: .5em;
    box-sizing: content-box;
    form-sizing: content;
}

.cactus-editor-textarea::placeholder {
    text-align: center;
    line-height: 8rem;
    font-size: 1.5rem;
}

.cactus-editor-below {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: flex-end
}

.cactus-editor-name {
    display: flex;
    flex: 1
}

.cactus-editor-name>span {
    display: flex;
    flex: 1;
    min-inline-size: 20ch;
    max-inline-size: 40ch
}

.cactus-editor-name>span>input {
    inline-size: 100%;
    padding: .5em;
}

.cactus-editor-buttons {
    display: flex;
    gap: .5em
}

.cactus-matrixdotto-only {
    align-self: center;
    text-decoration: none
}

.cactus-login-form-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.cactus-login-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1rem 2rem 3.25rem 2rem;
    border-radius: var(--cactus-border-radius);
    background-color: var(--cactus-background-color--strong);
    color: var(--cactus-login-form-text-color2);
    box-shadow: 0 .5em 1em .5em var(--cactus-box-shadow-color);
    box-sizing: border-box;
    inline-size: 100%;
    max-inline-size: 300px
}

.cactus-login-form button, .cactus-login-form .cactus-button {
    color: var(--cactus-button-text-color2);
}

.cactus-login-close {
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
    margin-bottom: -3rem;
    padding: 0;
    background: none;
    color: var(--cactus-button-color);
    border: none;
}

.cactus-login-close:hover:not([disabled]) {
    color: var(--cactus-button-color--strong);
    cursor: pointer
}

.cactus-login-close:active:not([disabled]) {
    color: var(--cactus-button-color--stronger);
    cursor: pointer
}

.cactus-login-close-icon {
    inline-size: 20px;
    block-size: 20px;
    color: var(--cactus-button-color);
}

.cactus-login-title {
    align-self: center;
    font-size: 1.17em;
    font-weight: 700;
    margin: 0
}

.cactus-login-client {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.cactus-login-client-title {
    font-size: 1em;
    font-weight: 700;
    margin: 0
}

.cactus-matrixdotto-button {
    justify-content: center;
    text-decoration: none;
}

.cactus-login-credentials {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.cactus-login-credentials-title {
    font-size: 1em;
    font-weight: 700;
    margin: 0
}

.cactus-login-field {
    display: flex;
    flex-direction: column;
    gap: .25em
}

.cactus-login-label {
    font-size: 1em;
    padding-bottom: .25em;
    color: var(--cactus-text-color2);
}

.cactus-login-error {
    display: none;
    margin: 0;
    font-size: .8em;
    color: var(--cactus-text-color--soft)
}

.cactus-login-field>input {
    border-radius: var(--cactus-border-radius);
    border: solid var(--cactus-border-width) var(--cactus-border-color);
    padding: .5em;
    background-color: transparent;
    color: inherit;
    font-size: inherit
}

.cactus-login-field>input::placeholder {
    color: var(--cactus-text-color--soft);
}

.cactus-login-credentials-button {
    justify-content: center
}

.cactus-comments-container {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.cactus-comments-list {
    display: flex;
    flex-direction: column;
    gap: .5em
}

.cactus-comment {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-block-end: .5em;
    /* border-block-end: var(--cactus-border-width) solid var(--cactus-border-color); */
}

.cactus-comment-avatar {
    display: flex
}

.cactus-comment-avatar>* {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0
}

.cactus-comment-avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cactus-border-color);
    color: var(--cactus-text-color2--soft)
}

.cactus-comment-avatar-placeholder:before {
    content: "?"
}

.cactus-comment-content {
    display: flex;
    flex-direction: column;
    gap: .5em
}

.cactus-comment-header {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    color: var(--card-text-color-main);
}

.cactus-comment-displayname {
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

.cactus-comment-time {
    color: var(--cactus-text-color)
}

.cactus-message-text>:first-child {
    margin-block-start: 0
}

.cactus-message-text>:last-child {
    margin-block-end: 0
}

.cactus-message-text > p {
    color: var(--cactus-body-text-color);
}

.cactus-message-emote {
    padding-top: .5em;
    color: var(--cactus-text-color--soft)
}

.cactus-message-image {
    max-width: 100%;
    height: auto
}

.cactus-message-file {
    line-height: 3em;
    margin-left: 1em
}

.cactus-message-video {
    max-width: 100%
}

.cactus-button {
    display: flex;
    align-items: center;
    padding-block: .6em;
    padding-inline: 1em;
    background-color: var(--cactus-button-color);
    font-weight: 700;
    border-radius: var(--cactus-border-radius);
    color: var(--cactus-button-text-color);
    font-size: inherit;
    border: none
}

.cactus-button:hover:not([disabled]) {
    background-color: var(--cactus-button-color--strong);
    cursor: pointer
}

.cactus-button:active:not([disabled]) {
    background-color: var(--cactus-button-color--stronger);
    cursor: pointer
}

.cactus-view-more {
    display: flex;
    justify-content: center
}

.cactus-view-more > .cactus-button:hover:not([disabled]), .cactus-view-more > .cactus-button:active:not([disabled]) {
    background-color: inherit;
}


.spinner {
    align-self: center;
    width: 2em;
    height: 2em;
    display: flex;
    gap: .3em
}

.spinner>div {
    flex: 1;
    background-color: var(--cactus-border-color);
    animation: sk-stretchdelay 2.4s ease-in-out infinite
}

.spinner .rect2 {
    animation-delay: -2.2s
}

.spinner .rect3 {
    animation-delay: -2s
}

.spinner .rect4 {
    animation-delay: -1.8s
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1)
    }
}

/*# sourceMappingURL=/style.css.map */