{{- $Email := printf `<a class="link" href="mailto:%s">%s</a>` .Site.Params.writerEmail .Site.Params.writerEmail -}}

<script>
    function isWebStorageAvailable() {
        try {
            localStorage.setItem('test', 'test');
            localStorage.removeItem('test');
            return true;
        } catch (e) {
            return false;
        }
    }

    function displayErrorMessage() {        
        const errorDisplayer = `
            <div class="container main-container flex on-phone--column">
                <main class="main full-width">
                    <h2 class="section-title">{{ partial "helper/icon" "face-id-error" }}{{- T "pageTitle.error" -}}</h2>
                    <article class="main-article error-displayer">
                        <section class="article-content error-details">
                            <p>{{- T "error.webStorageAvailability.errorExplanation" -}}</p>

                            <div class="message-box">
                                <p>{{- T "error.webStorageAvailability.webStorageApiDefinition" -}}</p>
                                <p>{{- T "error.webStorageAvailability.differencesBetweenWebStorageApiAndCookies" -}}</p>
                            </div>
            
                            <p>{{- T "error.webStorageAvailability.problemSolutionP" -}}</p>
                            <ul>
                                <li>{{- T "error.webStorageAvailability.problemSolutionLi1" -}}</li>
                                <div class="message-box">
                                    <p>{{- T "error.webStorageAvailability.zeroCookiesWarningMessage" -}}
                                </div>
                                <li>{{- T "error.webStorageAvailability.problemSolutionLi2" -}}</li>
                            </ul>
                            <p>{{- T "error.webStorageAvailability.contactDetails" (dict "Email" $Email) -}}</p>
                            <p>{{- T "error.webStorageAvailability.apology" -}}</p>                
                        </section>
                    </article>
                </main>
            </div>
        `;
        
        document.body.removeAttribute('class');
        document.body.setAttribute('class', 'error article-page');
        document.body.innerHTML = errorDisplayer;
        window.stop();
    }   
    if (! isWebStorageAvailable()) {
        displayErrorMessage();
    }
</script>

<noscript>
    <section class="noscript-error">
        <div class="container main-container flex on-phone--column">
            <main class="main full-width">
                <h2 class="section-title">{{ partial "helper/icon" "face-id-error" }}{{- T "pageTitle.error" -}}</h2>
                <article class="main-article error-displayer">
                    <section class="article-content error-details">
                        <p>{{- T "error.javaScriptAvailability.errorExplanation" | safeHTML -}}</p>
                        <p>{{- T "error.javaScriptAvailability.problemSolutionP" -}}</p>
                        <ul>
                            <li>{{- T "error.javaScriptAvailability.problemSolutionLi1" -}}</li>
                            <li>{{- T "error.javaScriptAvailability.problemSolutionLi2" -}}</li>
                        </ul>
                        <p>{{- T "error.javaScriptAvailability.contactDetails" (dict "Email" $Email) | safeHTML -}}</p>
                        <p>{{- T "error.javaScriptAvailability.apology" -}}</p>          
                    </section>
                </article>
            </main>
        </div>
    </section>
</noscript>