a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

.section-title {
    text-transform: uppercase;
    margin-top: 0;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--body-text-color);
        
    svg {
        margin-right: 0.65em;
        stroke-width: 1.7;
        color: var(--body-text-color);
    }

    a {
        color: var(--body-text-color);
    }
}
