.container {
    margin-left: auto;
    margin-right: auto;

    .left-sidebar {
        order: -3;
        max-width: var(--left-sidebar-max-width);
    }

    .right-sidebar {
        order: -1;
        max-width: var(--right-sidebar-max-width);

        /// Display right sidebar when min-width: lg
        @include respond(xl) {
            display: flex;
        }
    }

    &.extended {
        @include respond(md) {
            max-width: 1024px;
            --left-sidebar-max-width: 25%;
            --right-sidebar-max-width: 30%;
        }

        @include respond(lg) {
            max-width: 1280px;
            --left-sidebar-max-width: 20%;
            --right-sidebar-max-width: 30%;
        }

        @include respond(xl) {
            max-width: 1536px;
            --left-sidebar-max-width: 15%;
            --right-sidebar-max-width: 25%;
        }
    }

    &.compact {
        @include respond(md) {
            --left-sidebar-max-width: 25%;
            max-width: 768px;
        }

        @include respond(lg) {
            max-width: 1024px;
            --left-sidebar-max-width: 20%;
        }

        @include respond(xl) {
            max-width: 1280px;
        }
    }
}

.flex {
    display: flex;
    flex-direction: row;

    &.column {
        flex-direction: column;
    }

    &.on-phone--column {
        flex-direction: column;
        @include respond(md) {
            flex-direction: unset;
        }
    }

    .full-width {
        width: 100%;
    }
}

main.main {
    order: -2;
    min-width: 0;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--section-separation);

    @include respond(md) {
        padding-top: var(--main-top-padding);
    }
}

.main-container {
    min-height: 100vh;
    padding: 0 20px;
    align-items: flex-start;
    gap: var(--section-separation);
    padding-top: var(--main-top-padding);

    @include respond(3xl) {
        padding: 0 15px;
    }

    @include respondMax(3xl) {
        padding: 0 40px;
    }
    
    @include respondMax(2xl) {
        padding: 0 46px;
    }

    @include respondMax(xl) {
        padding: 0 30px;
    }

    @include respondMax(xl) {
        padding: 0 40px;
    }

    @include respondMax(lg) {
        padding: 0 38px;
    }

    @include respondMax(md) {
        padding: 40px 45px;
    }

    @include respondMax(sm) {
        padding: 35px;
    }

    @include respondMax(ssm) {
        padding: 30px 20px;
    }
}

#noscript {
    display: none;
}