{{- with .Context.Site.Params.recommendations -}}
    <section class="widget recommendations">

        <h2 class="widget-title section-title">{{ partial "helper/icon" "eye-star" }}{{- T "widget.recommendations.title" -}}</h2>

        <div class="recommendations--list">
            {{- range . -}}
                <div class="recommendation">
                    {{- range .urls -}}
                        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                            {{ partial "helper/icon" "link" }}
                            {{- .name -}}
                        </a>
                    {{- end -}}
                    {{- range .paragraphs -}}
                        {{- $firstWord := substr . 0 4 -}}
                        {{- if or (eq $firstWord "<ul>") (eq $firstWord "<ol>") -}}
                            {{- . | safeHTML -}}
                        {{- else -}}
                            <p>
                                {{- . | safeHTML -}}
                            </p>
                        {{- end -}}
                    {{- end -}}
                </div>
            {{ end }}
        </div>

    </section>
{{- end -}}