<div id="{{ .File.UniqueID }}">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
</div>
<script>
  async function getGoatCounterData() {
    const url = "https://{{ .Site.Params.goatcounter }}.goatcounter.com/counter/" + encodeURIComponent({{ .RelPermalink }}.replace(/(\/)?$/, '')) + '.json';
    try {
      const response = await fetch(url);
      return response.json();
    } catch (error) {
      return false;
    }
  }

  async function updatePageViews() {
    const div = document.getElementById('{{ .File.UniqueID }}');
    if (div) {
        const data = await getGoatCounterData();
        if (data) {
          const dataElement = document.createElement('p');
          dataElement.textContent = `${data.count_unique} `;
          `${data.count_unique}` == 1 ? dataElement.textContent += 'visita' : dataElement.textContent += 'visitas';
          div.append(...[dataElement]);
        } else {
          div.remove();
        }
    }
  }

  updatePageViews();
</script>
