footer.site-footer {
    padding: 17px 0 var(--section-separation) 0;
    font-size: 1.4rem;
    line-height: 1.75;

    @include respondMax(ssm) {
        padding-left: 2px;
    }

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 65px;
        background: var(--body-text-color);
        margin-bottom: 22px;
    }

    .copyright {
        color: var(--accent-color);
        font-weight: bold;
        margin-bottom: 5px;
        
        .info {
            font-weight: normal;
        }
    }

    .powerby {
        color: var(--body-text-color);
        font-weight: normal;
        font-size: 1.3rem;

        a {
            color: var(--body-text-color);
        }
    }
}
